* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
}

window#waybar {
    background: #282c34;
    color: #fcfcfc;
}

#workspaces button {
    padding: 0 5px;
    background: #282c34;
    color: #fcfcfc;
}

#workspaces button.focused {
    background: #5c6667;
    color: #fcfcfc;
}

#workspaces button.urgent {
    background: #fcfcfc;
    color: #282c34;
}

#mode {
    padding: 0 5px;
    background: #5c6667;
    color: #fcfcfc;
}
